.manage {
    width: 100%;
    height: 100%;
    .headbar {
        height: 70px;
        line-height: 70px;
        background: #324157;
        padding-right: 50px;
        .logo {
            width: 200px;
            float: left;
            height: 100%;
            padding: 10px 5px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .operation {
            float: right;
            color: #fff;
            button {
                background: #324157;
                border-color: #324157;
            }
        }
    }
    .content {
        height: 100%;
        .leftmenu {
            height: 100%;
            width: 200px;
            ul {
                height: 100%;
            }
        }
        .mainview {
            width: 100%;
            height: 100%;
            padding: 30px;
            overflow: auto;
        }
    }
}