.manage {
    width: 100%;
    height: 100%;
    .headbar {
        height: 70px;
        line-height: 70px;
        background: #ffffff;
        padding-right: 50px;
        .logo {
            width: 200px;
            float: left;
            height: 100%;
            padding: 10px 5px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .operation {
            float: right;
            color: #fff;
            em {
                color: #333;
                display: inline-block;
                font-size: 14px;
                margin-right: 30px;
            }
        }
    }
    .content {
        height: 100%;
        .leftmenu {
            height: 100%;
            width: 200px;
            ul {
                height: 100%;
            }
            .el-menu {
                background: #ffffff;
            }
            .el-menu-item-group__title {
                padding-top: 0
            }
            .el-submenu__title:hover,
            .el-menu-item:hover,
            .el-menu-item.is-active:hover {
                background: #ed4040;
                color: #fff;
            }
            .el-menu-item.is-active {
                color: #ed4040;
            }
        }
        .mainview {
            width: 100%;
            height: 100%;
            padding: 30px;
            overflow: auto;
            background: #f1f1f1;
        }
    }
}