.manage {
    width: 100%;
    height: 100%;
    .headbar {
        height: 70px;
        line-height: 70px;
        background: #f00;
    }
    .content {
        height: 100%;
        .leftmenu {
            height: 100%;
            width: 240px;
            ul {
                height: 100%;
            }
        }
        .mainview {
            width: 100%;
            height: 100%;
            padding: 30px;
            overflow: auto;
        }
    }
}