.header-operation {
    background: #ffffff;
    padding: 10px 20px;
    .el-form-item {
        margin: 0;
    }
}

.card-list {
    overflow: hidden;
    margin-top: 30px;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    .el-card {
        // float: left;
        width: 23%;
        margin: 10px 1%;
        .el-card__header {
            padding-bottom: 0;
            font-size: 20px;
            border-bottom: none;
        }
        .news-content {
            margin-bottom: 20px;
            line-height: 1.5;
            height: 100px;
        }
        .news-otherinfo {
            border-top: 1px solid #ccc;
            padding-top: 15px;
            overflow: hidden;
            color: #999;
            >div {
                float: left;
                padding: 5px;
            }
            .remove-news {
                float: right;
                margin-top: -7px;
            }
            .news-type {
                border: 1px solid #ED4040;
                border-radius: 5px;
                color: #ED4040;
                margin-right: 15px;
            }
            // button {
            //     background: #ed4040;
            //     border-color: #ed4040;
            // }
        }
    }
}

@media screen and (min-width: 1260px) and (max-width: 1600px) {
    .card-list .el-card {
        width: 31%;
        margin: 10px 1%;
    }
}

@media screen and (max-width: 1260px) {
    .card-list .el-card {
        width: 48%;
        margin: 10px 1%;
    }
}